* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hue: 230; /* 228 - 258 - 180 */
  --blue: hsla(var(--hue), 80%, 59%);
  --blue-loading: hsla(var(--hue), 81%, 59%, 0.4);
  --blue-hover: hsla(calc(var(--hue) + 2), 67%, 50%);
  --blue-dark: hsla(calc(var(--hue) + 2), 100%, 70%);
  --blue-light: hsla(calc(var(--hue) + 2), 100%, 70%, 0.8);
  --blue-extra-light: hsla(calc(var(--hue) + 2), 100%, 70%, 0.6);
  --background: hsla(calc(var(--hue) - 5), 100%, 96%);
  --light: hsla(0, 0%, 100%);

  font-size: 62.5%; /* 10px = 1rem */
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Roboto', sans-serif;

  background: linear-gradient(129.96deg, #ff2f2f 10.43%, #000460 92.78%),
    radial-gradient(100% 246.94% at 100% 0%, #ffffff 0%, #020063 100%),
    linear-gradient(121.18deg, #1400ff 0.45%, #3a0000 100%),
    linear-gradient(154.03deg, #ff002e 0%, #ff003d 74.04%),
    linear-gradient(341.1deg, #b25bba 7.52%, #1700a7 77.98%),
    linear-gradient(222.34deg, #0047ff 12.99%, #ff0000 87.21%),
    linear-gradient(150.76deg, #b7d500 15.35%, #2200aa 89.57%);
  background-blend-mode: overlay, color-burn, screen, overlay, difference,
    difference, normal;

  background-size: 180% 180%;

  animation: background 5s infinite alternate;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 40rem;
  height: 65rem;

  border-radius: 6rem;
  box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.2);

  /* margin-top: 6rem; */

  position: relative;
  z-index: 1;
  /* background: inherit; */
  overflow: hidden;
}

.container:before {
  content: '';
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* box-shadow: inset 0 0 15rem var(--blue-loading); */
  filter: blur(1rem);
}

/* .loading {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 11rem;
  height: 11rem;
  border: 0.4rem solid var(--blue-loading);
  border-top-color: var(--blue);

  border-radius: 10rem;

  animation: spin 2s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }

  /* to {
    transform: rotate(360deg);
  } 
} */

.avatar {
  padding: 0.4rem;
  width: 10rem;
  border-radius: 10rem;

  border: 0.4rem solid var(--blue);

  /* position: absolute;
  top: 4.2rem; */
}

h1 {
  color: var(--blue-dark);
  font-size: 3.2rem;

  margin-top: 2.4rem;
  margin-bottom: 0.8rem;
}

p {
  color: var(--blue-light);
  font-family: 'Roboto Mono', monospace;
  font-size: 1.8rem;

  margin-bottom: 4.8rem;
}

ul {
  list-style: none;
  margin-bottom: calc(4.8rem - 1.6rem);
  /* margin-bottom: 4.8rem; */
}

.button {
  background: var(--blue);

  border: none;
  border-radius: 0.6rem;

  width: 30rem;
  height: 5.3rem;

  /* padding: 1.6rem 9rem; */
  margin-bottom: 1.6rem;

  color: var(--light);
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  transition: background 200ms;
}

.button:hover {
  background-color: var(--blue-hover);
}

.icon {
  color: var(--light);
  padding-right: 1.5rem;
}

footer {
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--blue-extra-light);
}

footer a {
  color: var(--blue-extra-light);
  text-decoration: none;
}

footer span {
  color: black;
}

/* =========================== ANIMATIONS ================================== */
.slide-in-blurred-top {
  -webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-7-6 15:26:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes background {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 50% 75%;
  }
  100% {
    background-position: 25% 100%;
  }
}
