* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hue: 258; /* 228 */
  --blue: hsla(var(--hue), 81%, 59%);
  --blue-hover: hsla(calc(var(--hue) + 2), 57%, 50%);
  --blue-dark: hsla(calc(var(--hue) + 2), 100%, 9%);
  --blue-light: hsla(calc(var(--hue) + 2), 100%, 9%, 0.8);
  --blue-extra-light: hsla(calc(var(--hue) + 2), 100%, 9%, 0.6);
  --light: hsla(0, 0%, 100%);

  font-size: 62.5%; /* 10px = 1rem */
}

body {
  background: hsla(223, 100%, 96%);
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 6rem;
}

img {
  padding: 0.4rem;
  width: 10rem;
  border: 0.4rem solid var(--blue);
  border-radius: 10rem;

  margin-bottom: 1.4rem;
}

h1 {
  color: var(--blue-dark);
  font-size: 3.2rem;

  margin-bottom: 0.8rem;
}

p {
  color: var(--blue-light);
  font-family: 'Roboto Mono', monospace;
  font-size: 1.8rem;

  margin-bottom: 4.8rem;
}

ul {
  list-style: none;
  margin-bottom: calc(4.8rem - 1.6rem);
  /* margin-bottom: 4.8rem; */
}

.button {
  background: var(--blue);

  border: none;
  border-radius: 0.6rem;

  padding: 1.6rem 8rem;
  margin-bottom: 1.6rem;

  color: var(--light);
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  transition: background 200ms;
}

.button:hover {
  background-color: var(--blue-hover);
}

footer {
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--blue-extra-light);
}

footer a {
  color: var(--blue-extra-light);
  text-decoration: none;
}

footer span {
  color: black;
}
